[MASTER]

init-hook="import sys, os; sys.path.extend(['./src/lib', './src/bot', './src/msu'])"
ignored-modules=alembic,sqlalchemy

[REPORTS]

score=no

output-format=colorized

[MESSAGES CONTROL]

disable=R,C,W
