aiofiles==0.8.0
alembic==1.9.1
Babel==2.11.0
black==22.3.0
bs4==0.0.1
debugpy==1.6.5
discord.py==2.1.0
flake8==6.0.0
git+https://github.com/MycroftKang/mulgyeol-bot-framework.git@6b1401dfa4930932b10b9eb16321125c3c9b1707
langdetect==1.0.9
lxml==4.9.1
packaging==21.3
pre-commit==2.21.0
pyinstaller==5.7.0
pylint==2.15.10
PyNaCl==1.5.0
pytest==7.2.0
pytest-asyncio==0.20.3
pytest-mock==3.10.0
pytz==2022.1
PyYAML==6.0
requests==2.27.1
simpleaudio==1.0.4
SQLAlchemy==1.4.46
yt-dlp==2022.11.11
